{% extends 'base.html' %}
{% block title %}1{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="crossorigin="anonymous"></script>
<body style="background-image: url(/static/4.jpg); background-size: cover;">
    <style>
        h4 {text-align: center; margin-top: 100px; font-family: 'Courier New', Courier, monospace; font-size: 30px; color: ghostwhite;}
    </style>   
<h4>press and hold button 1</h4>
<span id="tilstand"; style="color: white;"> {{tilstand}}</span>

    <script type="text/javascript" charset="utf-8">
var socket = io();
socket.on('button_state', function(e) {
    document.getElementById('tilstand').innerText = e === 1 ? '' : '';
    document.body.style.background = e === 1 ? 'url(static/4.jpg)' : 'url(static/3.gif)';
    document.body.style.backgroundRepeat = 'no-repeat';
    document.body.style.backgroundSize = 'cover';
});

    </script>
</body>

{% endblock %}
