{% extends 'base.html' %}
{% block title %}2{% endblock %}
{% block content %}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="crossorigin="anonymous"></script>
</head>
<body style="background-image: url(/static/4.jpg); background-size: cover;">
    <style>
        div {text-align: center;}
        h4 {text-align: center; margin-top: 100px; font-family: 'Courier New', Courier, monospace; font-size: 30px; color: ghostwhite;}
        input {width: 50%; margin-top: 3%;}
    </style>
    <div>
    <h4>glowslider</h4>
    <input oninput="skru()" type="range" min="0" max="255" id="lysstyrke"/>
    <script>
        var socket = io();
        function skru() {
            socket.emit('skru_paa_led',
            {
                'lysstyrke': document.getElementById('lysstyrke').value
            }
            )
        }
    </script>
    </div>
</body>
        {% endblock %}